[Unit]
Description=Dokumentenverwaltungssystem
After=network.target

[Service]
Type=simple
User=oliver
WorkingDirectory=/home/oliver/Autodocumentsorganizer
Environment="PATH=/home/oliver/Autodocumentsorganizer/venv/bin"
ExecStart=/home/oliver/Autodocumentsorganizer/venv/bin/python3 main.py
Restart=always
RestartSec=10

# Logs
StandardOutput=append:/var/log/document-manager/app.log
StandardError=append:/var/log/document-manager/error.log

[Install]
WantedBy=multi-user.target
